In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("mobile.xlsx")

      Количество SMS за месяц  Количество звонков  Среднемесячный расход
0                          56                  82                 121.54
1                           1                 221                 287.51
2                          36                  68                 113.70
3                          23                  96                 410.23
4                          29                 139                 537.60
...                       ...                 ...                    ...
4487                       30                  66                 186.20
4488                       23                 112                 500.68
4489                        5                 189                 470.42
4490                       69                 124                 858.99
4491                       24                 136                 151.92

[4492 rows x 3 columns]