In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('water.txt', sep='\t')
df.head(3)

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5

In [3]:
df.loc[df['location'] == 'South'].describe()

         mortality    hardness
count    26.000000   26.000000
mean   1376.807692   69.769231
std     140.269175   40.360682
min    1096.000000    5.000000
25%    1259.250000   40.250000
50%    1364.000000   75.500000
75%    1485.750000   99.750000
max    1627.000000  138.000000

In [4]:
df.loc[df['location'] == 'North'].describe()

         mortality   hardness
count    35.000000  35.000000
mean   1633.600000  30.400000
std     136.936911  26.134494
min    1378.000000   6.000000
25%    1557.500000  12.500000
50%    1637.000000  17.000000
75%    1718.000000  44.000000
max    1987.000000  94.000000

In [5]:
df_north = df.loc[df['location'] == 'North']
df_north.head(3)

  location        town  mortality  hardness
1    North  Birkenhead       1668        17
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [6]:
df_south = df.loc[df['location'] == 'South']
df_north.head(3)

  location        town  mortality  hardness
1    North  Birkenhead       1668        17
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [7]:
from statsmodels.stats.weightstats import _tconfint_generic
import numpy as np

In [8]:
mort_mean = df.mortality.mean()
mort_south_mean = df_south.mortality.mean()
mort_north_mean = df_north.mortality.mean()

hard_mean = df.hardness.mean()
hard_south_mean = df_south.hardness.mean()
hard_north_mean = df_north.hardness.mean()

mort_mean_std = df.mortality.std() / np.sqrt(df.mortality.shape[0])
mort_south_mean_std = df_south.mortality.std() / np.sqrt(df_south.mortality.shape[0])
mort_north_mean_std = df_north.mortality.std() / np.sqrt(df_north.mortality.shape[0])

hard_mean_std = df.hardness.std() / np.sqrt(df.hardness.shape[0])
hard_south_mean_std = df_south.hardness.std() / np.sqrt(df_south.hardness.shape[0])
hard_north_mean_std = df_north.hardness.std() / np.sqrt(df_north.hardness.shape[0])

In [9]:
freedom_mort = df.mortality.shape[0] - 1
freedom_mort_south = df_south.mortality.shape[0] - 1
freedom_mort_north = df_north.mortality.shape[0] - 1

freedom_hard = df.hardness.shape[0] - 1
freedom_hard_south = df_south.hardness.shape[0] - 1
freedom_hard_north = df_north.hardness.shape[0] - 1

alpha = 0.05

In [10]:
print('95% interval (mortality): ', _tconfint_generic(mort_mean, mort_mean_std, freedom_mort, alpha, 'two-sided'))
print('95% interval (hardness): ', _tconfint_generic(hard_mean, hard_mean_std, freedom_hard, alpha, 'two-sided'))

print('95% interval (mortality for south): ', _tconfint_generic(mort_south_mean, mort_south_mean_std, freedom_mort_south, alpha, 'two-sided'))
print('95% interval (mortality for north): ', _tconfint_generic(mort_north_mean, mort_north_mean_std, freedom_mort_north, alpha, 'two-sided'))
print('95% interval (hardness for south): ', _tconfint_generic(hard_south_mean, hard_south_mean_std, freedom_hard_south, alpha, 'two-sided'))
print('95% interval (hardness for north): ', _tconfint_generic(hard_north_mean, hard_north_mean_std, freedom_hard_north, alpha, 'two-sided'))

95% interval (mortality):  (1476.0833413552848, 1572.2117406119285)
95% interval (hardness):  (37.42401007207923, 56.93664566562569)
95% interval (mortality for south):  (1320.1517462936238, 1433.463638321761)
95% interval (mortality for north):  (1586.5605251961385, 1680.6394748038613)
95% interval (hardness for south):  (53.467198692036106, 86.07126284642544)
95% interval (hardness for north):  (21.42248728572426, 39.37751271427574)