In [1]:
import pandas as pd

In [42]:
df = pd.read_excel("data.xlsx", names=['Индекс ВМО', 'Год', 'Месяц', 'День', 'Минмиальная температура воздуха', 'Средняя температура воздуха', 'Максимальная температура воздуха', 'Количество осадков'])

In [35]:
df.head()

,Индекс ВМО,Год,Месяц,День,Минмиальная температура воздуха,Средняя температура воздуха,Максимальная температура воздуха,Количество осадков
0,29838,1959,1,2,-33.1,-30.0,-26.2,0.0
1,29838,1959,1,3,-28.8,-23.2,-18.4,0.0
2,29838,1959,1,4,-25.6,-22.8,-18.8,0.0
3,29838,1959,1,5,-23.0,-18.4,-13.0,1.3
4,29838,1959,1,6,-30.6,-28.4,-18.0,0.4

In [43]:
df['Дата'] = df['Год'].astype(str) + df['Месяц'].astype(str) + df['День'].astype(str)
df = df.drop('Год', axis=1)
df = df.drop('Месяц', axis=1)
df = df.drop('День', axis=1)

df['Дата'] = pd.to_datetime(df['Дата'], format='%Y%m%d')

In [50]:
df = df.set_index(df['Дата'])

df.head()

,Минмиальная температура воздуха,Средняя температура воздуха,Максимальная температура воздуха,Количество осадков,Дата
Дата,,,,,
1959-01-02,-33.1,-30.0,-26.2,0.0,1959-01-02
1959-01-03,-28.8,-23.2,-18.4,0.0,1959-01-03
1959-01-04,-25.6,-22.8,-18.8,0.0,1959-01-04
1959-01-05,-23.0,-18.4,-13.0,1.3,1959-01-05
1959-01-06,-30.6,-28.4,-18.0,0.4,1959-01-06

In [44]:
df = df.drop('Индекс ВМО', axis=1)

df.head()

,Минмиальная температура воздуха,Средняя температура воздуха,Максимальная температура воздуха,Количество осадков,Дата
0,-33.1,-30.0,-26.2,0.0,1959-01-02
1,-28.8,-23.2,-18.4,0.0,1959-01-03
2,-25.6,-22.8,-18.8,0.0,1959-01-04
3,-23.0,-18.4,-13.0,1.3,1959-01-05
4,-30.6,-28.4,-18.0,0.4,1959-01-06

In [45]:
print('Date lost =' + str(pd.isnull(df['Дата']).sum()))
print('Min lost =' + str(pd.isnull(df['Минмиальная температура воздуха']).sum()))
print('Mean lost =' + str(pd.isnull(df['Средняя температура воздуха']).sum()))
print('Max lost =' + str(pd.isnull(df['Максимальная температура воздуха']).sum()))
print('Value lost =' + str(pd.isnull(df['Количество осадков']).sum()))

Date lost =0
Min lost =24
Mean lost =24
Max lost =25
Value lost =571

In [ ]:
def nulls(x):
    s = x.isnull().sum().sum(axis=0)
    if s > 0:
        print("year " + s)

In [51]:
df.groupby(pd.Grouper(freq='Y')).count()

In [52]:
df

,Минмиальная температура воздуха,Средняя температура воздуха,Максимальная температура воздуха,Количество осадков,Дата
Дата,,,,,
1959-01-02,-33.1,-30.0,-26.2,0.0,1959-01-02
1959-01-03,-28.8,-23.2,-18.4,0.0,1959-01-03
1959-01-04,-25.6,-22.8,-18.8,0.0,1959-01-04
1959-01-05,-23.0,-18.4,-13.0,1.3,1959-01-05
1959-01-06,-30.6,-28.4,-18.0,0.4,1959-01-06
1959-01-07,-30.8,-25.0,-19.3,0.4,1959-01-07
1959-01-08,-25.2,-22.6,-19.1,0.0,1959-01-08
1959-01-09,-28.7,-22.6,-18.3,0.0,1959-01-09
1959-01-10,-18.6,-13.2,-11.4,0.4,1959-01-10
1959-11-01,-18.7,-15.1,-12.6,0.2,1959-11-01
1959-11-02,-21.6,-17.1,-11.9,0.0,1959-11-02
1959-11-03,-23.8,-21.0,-15.5,0.0,1959-11-03
1959-11-04,-31.1,-21.9,-17.4,0.0,1959-11-04
1959-11-05,-22.1,-17.2,-13.3,0.0,1959-11-05
1959-11-06,-17.0,-12.6,-7.9,0.0,1959-11-06
1959-11-07,-18.7,-15.0,-10.4,0.0,1959-11-07
1959-11-08,-25.2,-13.4,-8.0,0.0,1959-11-08
1959-11-09,-15.8,-5.9,-4.8,0.7,1959-11-09
1959-01-20,-8.9,-6.6,-4.2,0.0,1959-01-20
1959-12-01,-12.8,-8.6,0.7,1.2,1959-12-01
1959-12-02,-17.4,-13.4,-10.7,0.3,1959-12-02
1959-12-03,-23.5,-19.0,-14.5,0.0,1959-12-03
1959-12-04,-16.0,-9.0,-6.1,1.4,1959-12-04
1959-12-05,-8.2,-7.4,-6.4,0.4,1959-12-05
1959-12-06,-19.9,-8.8,-5.8,0.0,1959-12-06
1959-12-07,-18.9,-13.7,-5.8,0.0,1959-12-07
1959-12-08,-12.8,-9.9,-8.9,0.0,1959-12-08
1959-12-09,-16.7,-12.4,-7.2,0.0,1959-12-09
1959-01-30,-12.4,-7.8,-5.5,0.4,1959-01-30
1959-01-31,-14.7,-11.8,-5.5,1.3,1959-01-31
...,...,...,...,...,...
2017-12-02,-19.1,-15.1,-11.1,0.0,2017-12-02
2017-12-03,-17.9,-12.3,-10.9,0.2,2017-12-03
2017-12-04,-17.7,-14.0,-8.5,0.0,2017-12-04
2017-12-05,-11.0,-7.8,-5.5,1.3,2017-12-05
2017-12-06,-9.2,-7.7,-5.8,0.0,2017-12-06
2017-12-07,-18.9,-13.6,-7.5,0.0,2017-12-07
2017-12-08,-15.8,-10.8,-8.8,0.0,2017-12-08
2017-12-09,-17.4,-12.4,-9.2,0.0,2017-12-09
2017-12-10,-18.3,-8.9,-2.6,0.0,2017-12-10
2017-12-11,-11.8,-7.0,-2.2,0.7,2017-12-11
2017-12-12,-18.4,-9.9,-5.2,0.7,2017-12-12
2017-12-13,-22.1,-18.9,-14.5,0.0,2017-12-13
2017-12-14,-21.7,-16.8,-13.0,0.6,2017-12-14
2017-12-15,-26.4,-22.7,-18.6,0.0,2017-12-15
2017-12-16,-26.9,-23.8,-18.7,0.0,2017-12-16
2017-12-17,-27.6,-23.5,-16.9,0.0,2017-12-17
2017-12-18,-24.9,-21.5,-16.0,0.0,2017-12-18
2017-12-19,-27.6,-23.1,-17.6,0.0,2017-12-19
2017-12-20,-26.5,-22.7,-16.5,0.0,2017-12-20
2017-12-21,-27.2,-21.3,-14.2,0.0,2017-12-21
2017-12-22,-17.8,-13.5,-9.6,0.4,2017-12-22
2017-12-23,-9.6,-7.0,-4.9,0.6,2017-12-23
2017-12-24,-15.9,-11.7,-6.0,0.0,2017-12-24
2017-12-25,-11.6,-4.3,-0.1,0.0,2017-12-25
2017-12-26,-1.5,0.8,3.4,3.0,2017-12-26
2017-12-27,-4.7,-2.4,0.9,3.5,2017-12-27
2017-12-28,-13.5,-8.6,0.9,0.9,2017-12-28
2017-12-29,-17.4,-10.1,-2.7,2.4,2017-12-29
2017-12-30,-5.5,-3.1,-2.5,2.3,2017-12-30
2017-12-31,-18.7,-13.5,-5.5,0.2,2017-12-31

In [16]:
# date = "196611"
# date = pd.to_datetime(date, format='%Y%m%d')
# for x in df['Дата']:
#     if df['Дата'] < date:
#         df = df.drop('Дата', axis=0)
#         df = df.drop('Минмиальная температура воздуха', axis=0)
#         df = df.drop('Средняя температура воздуха', axis=0)
#         df = df.drop('Максимальная температура воздуха', axis=0)
#         df = df.drop('Количество осадков', axis=0)
        

# df.head()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().