In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("data.xlsx", names=['Индекс ВМО', 'Год', 'Месяц', 'День', 'Минимиальная температура воздуха', 'Средняя температура воздуха', 'Максимальная температура воздуха', 'Количество осадков'])

In [3]:
df.head()

,Индекс ВМО,Год,Месяц,День,Минимиальная температура воздуха,Средняя температура воздуха,Максимальная температура воздуха,Количество осадков
0,29838,1959,1,2,-33.1,-30.0,-26.2,0.0
1,29838,1959,1,3,-28.8,-23.2,-18.4,0.0
2,29838,1959,1,4,-25.6,-22.8,-18.8,0.0
3,29838,1959,1,5,-23.0,-18.4,-13.0,1.3
4,29838,1959,1,6,-30.6,-28.4,-18.0,0.4

In [4]:
df['Дата'] = df['Год'].astype(str) + df['Месяц'].astype(str) + df['День'].astype(str)
df = df.drop('Год', axis=1)
df = df.drop('Месяц', axis=1)
df = df.drop('День', axis=1)

df['Дата'] = pd.to_datetime(df['Дата'], format='%Y%m%d')

In [5]:
df = df.set_index(df['Дата'])

df.head()

,Индекс ВМО,Минимиальная температура воздуха,Средняя температура воздуха,Максимальная температура воздуха,Количество осадков,Дата
Дата,,,,,,
1959-01-02,29838,-33.1,-30.0,-26.2,0.0,1959-01-02
1959-01-03,29838,-28.8,-23.2,-18.4,0.0,1959-01-03
1959-01-04,29838,-25.6,-22.8,-18.8,0.0,1959-01-04
1959-01-05,29838,-23.0,-18.4,-13.0,1.3,1959-01-05
1959-01-06,29838,-30.6,-28.4,-18.0,0.4,1959-01-06

In [6]:
df = df.drop('Индекс ВМО', axis=1)

df.head()

,Минимиальная температура воздуха,Средняя температура воздуха,Максимальная температура воздуха,Количество осадков,Дата
Дата,,,,,
1959-01-02,-33.1,-30.0,-26.2,0.0,1959-01-02
1959-01-03,-28.8,-23.2,-18.4,0.0,1959-01-03
1959-01-04,-25.6,-22.8,-18.8,0.0,1959-01-04
1959-01-05,-23.0,-18.4,-13.0,1.3,1959-01-05
1959-01-06,-30.6,-28.4,-18.0,0.4,1959-01-06

In [7]:
print('Date lost =' + str(pd.isnull(df['Дата']).sum()))
print('Min lost =' + str(pd.isnull(df['Минимиальная температура воздуха']).sum()))
print('Mean lost =' + str(pd.isnull(df['Средняя температура воздуха']).sum()))
print('Max lost =' + str(pd.isnull(df['Максимальная температура воздуха']).sum()))
print('Value lost =' + str(pd.isnull(df['Количество осадков']).sum()))

Date lost =0
Min lost =24
Mean lost =24
Max lost =25
Value lost =571

In [8]:
for year in range(1959, 2017):
    if df[df.index.year == year].isnull().sum().sum() > 0:
        print(year, df[df.index.year == year].isnull().sum().sum())

1960 206
1961 334
1963 2
1965 96
1970 1
1972 4
1973 1

In [9]:
df

,Минимиальная температура воздуха,Средняя температура воздуха,Максимальная температура воздуха,Количество осадков,Дата
Дата,,,,,
1959-01-02,-33.1,-30.0,-26.2,0.0,1959-01-02
1959-01-03,-28.8,-23.2,-18.4,0.0,1959-01-03
1959-01-04,-25.6,-22.8,-18.8,0.0,1959-01-04
1959-01-05,-23.0,-18.4,-13.0,1.3,1959-01-05
1959-01-06,-30.6,-28.4,-18.0,0.4,1959-01-06
...,...,...,...,...,...
2017-12-27,-4.7,-2.4,0.9,3.5,2017-12-27
2017-12-28,-13.5,-8.6,0.9,0.9,2017-12-28
2017-12-29,-17.4,-10.1,-2.7,2.4,2017-12-29
2017-12-30,-5.5,-3.1,-2.5,2.3,2017-12-30
2017-12-31,-18.7,-13.5,-5.5,0.2,2017-12-31

In [10]:
date = "196611"
date = pd.to_datetime(date, format='%Y%m%d')

df = df.sort_index()
df = df.truncate(before=pd.Timestamp('1966-01-01'))
df

,Минимиальная температура воздуха,Средняя температура воздуха,Максимальная температура воздуха,Количество осадков,Дата
Дата,,,,,
1966-01-01,-7.6,-3.8,1.0,3.4,1966-01-01
1966-01-02,-6.1,-2.8,0.8,7.4,1966-01-02
1966-01-03,-5.7,-2.0,-0.1,0.9,1966-01-03
1966-01-04,-17.4,-11.5,-0.1,2.0,1966-01-04
1966-01-05,-19.2,-14.2,-6.1,0.6,1966-01-05
...,...,...,...,...,...
2017-12-27,-4.7,-2.4,0.9,3.5,2017-12-27
2017-12-28,-13.5,-8.6,0.9,0.9,2017-12-28
2017-12-29,-17.4,-10.1,-2.7,2.4,2017-12-29
2017-12-30,-5.5,-3.1,-2.5,2.3,2017-12-30
2017-12-31,-18.7,-13.5,-5.5,0.2,2017-12-31

In [11]:
df['Размах температур'] = df['Максимальная температура воздуха'] - df['Минимиальная температура воздуха']
df

,Минимиальная температура воздуха,Средняя температура воздуха,Максимальная температура воздуха,Количество осадков,Дата,Размах температур
Дата,,,,,,
1966-01-01,-7.6,-3.8,1.0,3.4,1966-01-01,8.6
1966-01-02,-6.1,-2.8,0.8,7.4,1966-01-02,6.9
1966-01-03,-5.7,-2.0,-0.1,0.9,1966-01-03,5.6
1966-01-04,-17.4,-11.5,-0.1,2.0,1966-01-04,17.3
1966-01-05,-19.2,-14.2,-6.1,0.6,1966-01-05,13.1
...,...,...,...,...,...,...
2017-12-27,-4.7,-2.4,0.9,3.5,2017-12-27,5.6
2017-12-28,-13.5,-8.6,0.9,0.9,2017-12-28,14.4
2017-12-29,-17.4,-10.1,-2.7,2.4,2017-12-29,14.7
2017-12-30,-5.5,-3.1,-2.5,2.3,2017-12-30,3.0
2017-12-31,-18.7,-13.5,-5.5,0.2,2017-12-31,13.2

In [39]:
dry_days = 0

# for dry_days in df['Количество дней без дождя']:
#     if df['Количество осадков'] == 0:
#         dry_days += 1
#             #print(dry_days)
#             #df['Количество дней без дождя'] = dry_days
#     else:
#         dry_days = 0
#             #print(dry_days)
#             #df['Количество дней без дождя'] = dry_days
 
df['Количество дней без дождя'] = df['Количество осадков'].count()
df

,Минимиальная температура воздуха,Средняя температура воздуха,Максимальная температура воздуха,Количество осадков,Дата,Размах температур,Количество дней без дождя
Дата,,,,,,,
1966-01-01,-7.6,-3.8,1.0,3.4,1966-01-01,8.6,18987
1966-01-02,-6.1,-2.8,0.8,7.4,1966-01-02,6.9,18987
1966-01-03,-5.7,-2.0,-0.1,0.9,1966-01-03,5.6,18987
1966-01-04,-17.4,-11.5,-0.1,2.0,1966-01-04,17.3,18987
1966-01-05,-19.2,-14.2,-6.1,0.6,1966-01-05,13.1,18987
...,...,...,...,...,...,...,...
2017-12-27,-4.7,-2.4,0.9,3.5,2017-12-27,5.6,18987
2017-12-28,-13.5,-8.6,0.9,0.9,2017-12-28,14.4,18987
2017-12-29,-17.4,-10.1,-2.7,2.4,2017-12-29,14.7,18987
2017-12-30,-5.5,-3.1,-2.5,2.3,2017-12-30,3.0,18987
2017-12-31,-18.7,-13.5,-5.5,0.2,2017-12-31,13.2,18987

In [22]:
df.to_excel('out.xlsx')

In [43]:
for year in range(1966, 2017):
        dfdate = df.truncate(before=pd.Timestamp(str(year) + '-06-01'), after=pd.Timestamp(str(year) + '-06-30'))
        print(dfdate.mean())

Минимиальная температура воздуха       12.586667
Средняя температура воздуха            17.616667
Максимальная температура воздуха       23.670000
Количество осадков                      1.770000
Размах температур                      11.083333
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       11.073333
Средняя температура воздуха            16.783333
Максимальная температура воздуха       23.390000
Количество осадков                      1.383333
Размах температур                      12.316667
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       10.443333
Средняя температура воздуха            16.300000
Максимальная температура воздуха       23.350000
Количество осадков                      0.603333
Размах температур                      12.906667
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       12.590000
Средняя температура воздуха            17.906667
Максимальная температура воздуха       24.400000
Количество осадков                      1.850000
Размах температур                      11.810000
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       11.996667
Средняя температура воздуха            17.163333
Максимальная температура воздуха       24.083333
Количество осадков                      2.563333
Размах температур                      12.086667
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       10.026667
Средняя температура воздуха            16.180000
Максимальная температура воздуха       23.130000
Количество осадков                      2.093333
Размах температур                      13.103333
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       11.743333
Средняя температура воздуха            17.756667
Максимальная температура воздуха       24.203333
Количество осадков                      2.373333
Размах температур                      12.460000
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       12.466667
Средняя температура воздуха            18.763333
Максимальная температура воздуха       25.656667
Количество осадков                      0.493333
Размах температур                      13.190000
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       11.276667
Средняя температура воздуха            17.913333
Максимальная температура воздуха       24.783333
Количество осадков                      1.833333
Размах температур                      13.506667
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       10.106667
Средняя температура воздуха            16.493333
Максимальная температура воздуха       23.096667
Количество осадков                      0.956667
Размах температур                      12.990000
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       14.243333
Средняя температура воздуха            20.346667
Максимальная температура воздуха       27.443333
Количество осадков                      2.016667
Размах температур                      13.200000
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       12.753333
Средняя температура воздуха            19.446667
Максимальная температура воздуха       26.066667
Количество осадков                      1.810000
Размах температур                      13.313333
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       12.020000
Средняя температура воздуха            17.933333
Максимальная температура воздуха       24.466667
Количество осадков                      1.300000
Размах температур                      12.446667
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       13.450000
Средняя температура воздуха            18.936667
Максимальная температура воздуха       26.600000
Количество осадков                      1.456667
Размах температур                      13.150000
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       12.510000
Средняя температура воздуха            17.976667
Максимальная температура воздуха       24.520000
Количество осадков                      2.293333
Размах температур                      12.010000
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       13.076667
Средняя температура воздуха            20.606667
Максимальная температура воздуха       27.400000
Количество осадков                      0.236667
Размах температур                      14.323333
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       12.416667
Средняя температура воздуха            19.863333
Максимальная температура воздуха       27.166667
Количество осадков                      0.613333
Размах температур                      14.750000
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       11.573333
Средняя температура воздуха            18.740000
Максимальная температура воздуха       25.566667
Количество осадков                      1.873333
Размах температур                      13.993333
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       11.713333
Средняя температура воздуха            17.690000
Максимальная температура воздуха       24.906667
Количество осадков                      1.776667
Размах температур                      13.193333
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха        9.580000
Средняя температура воздуха            15.156667
Максимальная температура воздуха       21.183333
Количество осадков                      2.240000
Размах температур                      11.603333
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха        9.996667
Средняя температура воздуха            15.673333
Максимальная температура воздуха       22.263333
Количество осадков                      1.393333
Размах температур                      12.266667
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха        9.456667
Средняя температура воздуха            14.850000
Максимальная температура воздуха       21.583333
Количество осадков                      1.346667
Размах температур                      12.126667
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха        9.726667
Средняя температура воздуха            16.823333
Максимальная температура воздуха       23.976667
Количество осадков                      0.123333
Размах температур                      14.250000
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха        9.930000
Средняя температура воздуха            15.840000
Максимальная температура воздуха       22.413333
Количество осадков                      1.563333
Размах температур                      12.483333
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       12.136667
Средняя температура воздуха            18.700000
Максимальная температура воздуха       25.663333
Количество осадков                      1.660000
Размах температур                      13.526667
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       12.280000
Средняя температура воздуха            19.013333
Максимальная температура воздуха       25.890000
Количество осадков                      0.836667
Размах температур                      13.610000
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха        9.306667
Средняя температура воздуха            15.426667
Максимальная температура воздуха       22.480000
Количество осадков                      2.660000
Размах температур                      13.173333
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       12.540000
Средняя температура воздуха            17.726667
Максимальная температура воздуха       23.663333
Количество осадков                      2.276667
Размах температур                      11.123333
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       13.466667
Средняя температура воздуха            20.770000
Максимальная температура воздуха       28.270000
Количество осадков                      1.530000
Размах температур                      14.803333
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха        9.470000
Средняя температура воздуха            14.946667
Максимальная температура воздуха       21.013333
Количество осадков                      2.146667
Размах температур                      11.543333
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       11.436667
Средняя температура воздуха            17.433333
Максимальная температура воздуха       24.023333
Количество осадков                      2.826667
Размах температур                      12.586667
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       10.54
Средняя температура воздуха            17.27
Максимальная температура воздуха       25.08
Количество осадков                      0.98
Размах температур                      14.54
Количество дней без дождя           18987.00
dtype: float64
Минимиальная температура воздуха       11.520000
Средняя температура воздуха            18.066667
Максимальная температура воздуха       24.910000
Количество осадков                      1.533333
Размах температур                      13.390000
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       10.376667
Средняя температура воздуха            16.363333
Максимальная температура воздуха       23.266667
Количество осадков                      1.726667
Размах температур                      12.890000
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       13.200000
Средняя температура воздуха            18.500000
Максимальная температура воздуха       24.496667
Количество осадков                      1.826667
Размах температур                      11.296667
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       13.433333
Средняя температура воздуха            18.483333
Максимальная температура воздуха       24.613333
Количество осадков                      3.046667
Размах температур                      11.180000
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       12.840000
Средняя температура воздуха            17.616667
Максимальная температура воздуха       23.340000
Количество осадков                      3.923333
Размах температур                      10.500000
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       13.783333
Средняя температура воздуха            19.893333
Максимальная температура воздуха       26.303333
Количество осадков                      1.683333
Размах температур                      12.520000
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       13.213333
Средняя температура воздуха            19.423333
Максимальная температура воздуха       25.983333
Количество осадков                      3.416667
Размах температур                      12.770000
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       12.600000
Средняя температура воздуха            18.913333
Максимальная температура воздуха       25.050000
Количество осадков                      2.566667
Размах температур                      12.450000
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       13.820000
Средняя температура воздуха            20.850000
Максимальная температура воздуха       27.286667
Количество осадков                      0.933333
Размах температур                      13.466667
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       10.390000
Средняя температура воздуха            15.956667
Максимальная температура воздуха       21.880000
Количество осадков                      2.193333
Размах температур                      11.490000
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       12.820000
Средняя температура воздуха            18.356667
Максимальная температура воздуха       25.016667
Количество осадков                      2.400000
Размах температур                      12.196667
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха        9.523333
Средняя температура воздуха            14.506667
Максимальная температура воздуха       20.126667
Количество осадков                      2.033333
Размах температур                      10.603333
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       11.703333
Средняя температура воздуха            18.020000
Максимальная температура воздуха       24.583333
Количество осадков                      1.486667
Размах температур                      12.880000
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       13.570000
Средняя температура воздуха            20.156667
Максимальная температура воздуха       26.713333
Количество осадков                      1.006667
Размах температур                      13.143333
Количество дней без дождя           18987.000000
dtype: float64

Минимиальная температура воздуха       14.516667
Средняя температура воздуха            22.080000
Максимальная температура воздуха       29.093333
Количество осадков                      0.346667
Размах температур                      14.576667
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха        9.893333
Средняя температура воздуха            15.816667
Максимальная температура воздуха       21.963333
Количество осадков                      0.766667
Размах температур                      12.070000
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       11.396667
Средняя температура воздуха            18.033333
Максимальная температура воздуха       24.186667
Количество осадков                      0.746667
Размах температур                      12.790000
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       12.373333
Средняя температура воздуха            19.586667
Максимальная температура воздуха       26.503333
Количество осадков                      0.976667
Размах температур                      14.130000
Количество дней без дождя           18987.000000
dtype: float64
Минимиальная температура воздуха       12.730000
Средняя температура воздуха            19.556667
Максимальная температура воздуха       25.983333
Количество осадков                      1.506667
Размах температур                      13.253333
Количество дней без дождя           18987.000000
dtype: float64